In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Base de Dados - World Development Indicators (WDI)

Os Indicadores de Desenvolvimento Mundial (WDI) são a principal coleção de indicadores de desenvolvimento do Banco Mundial, compilados a partir de fontes internacionais oficialmente reconhecidas. Apresenta os dados de desenvolvimento global mais atuais e precisos disponíveis e inclui estimativas nacionais, regionais e globais.

Os Indicadores de Desenvolvimento Mundial são uma compilação de estatísticas relevantes, de alta qualidade e comparáveis internacionalmente sobre o desenvolvimento global e a luta contra a pobreza. A base de dados contém 1.400 indicadores de séries cronológicas para 217 economias e mais de 40 grupos de países, com dados para muitos indicadores que remontam a mais de 50 anos [[1](https://datatopics.worldbank.org/world-development-indicators/)]. 

## Objetivos
Para este estudo, optamos por utilizar alguns dos indicadores e avaliar como eles se comportam em diferentes grupos de países. Ao final, pretende-se respoder as perguntas:

  1. Quais grupos de países possuem maior serie historia dos indicadores?
  2. Quais regiões possuem maior cobertura de dados?
  3. Como os indicadores variaram durante os anos para cada grupo de países?

### Objetivos específicos

Para responder as perguntas precisamos seguir uma sequencia de análises e trasnsformações nos dados. Dessa forma, seguem os objetivos específicos deste trabalho:

 * Coletar os dados
 * Identificar as bases com os indicadores relevantes
 * Filtrar inconsistências das bases de dados
 * Agrupar, as beses com informações relevantes
 * Compiolar os historicos dos indicadores
 * Gerar graficos e tabelas que auxiliem a visualização das análises.

## Indicadores utilizados 

Os indicadores utilizados são os relacionados com:

  1. Pobreza e Desigualdade:
     * "Poverty headcount ratio at $2.15 a day (2017 PPP) (% of population)" 
        * Esse indicador mostra s porcentagem de pessoas vivendo com menos de $2.15 por dia, considerando os preços internacionais do ano de 2017. 
  2. Demografia
     * "Population, total"
        * População total do pais, independentemente da situação de cidadania e status legal.
     * "Labor force participation rate, total (% of total population ages 15+) (modeled ILO estimate)"
        * Porcentagem da população com 15 anos ou mais que é economicamente ativa.
     * "School enrollment, primary and secondary (gross), gender parity index (GPI)"
        * indice da relação entre gêneros que frequentam escola primaria e secundária.
  3. Meio ambiente
     * "CO2 emissions (metric tons per capita)" 
     * "Forest area (% of land area)"
     * "Access to electricity, urban (% of urban population)"

## Bases de dados
Vamos utilizar as bases WDIData e WDICountry

In [3]:
FOLDER_PATH = './bases'
#wdi_country_series_df = pd.read_csv(f'{FOLDER_PATH}/WDICountry-Series.csv', sep=',')
wdi_data_df = pd.read_csv(f'{FOLDER_PATH}/WDIData.csv', sep=',')
#wdi_foot_note_df = pd.read_csv(f'{FOLDER_PATH}/WDIFootNote.csv', sep=',')
#wdi_series_time_df = pd.read_csv(f'{FOLDER_PATH}/WDISeries-Time.csv', sep=',')
#wdi_series_df = pd.read_csv(f'{FOLDER_PATH}/WDISeries.csv', sep=',')
wdi_country_df = pd.read_csv(f'{FOLDER_PATH}/WDICountry.csv', sep=',')

### WDICountry

In [4]:
wdi_country_df.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,NaN,Latin America & Caribbean,High income,AW,...,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),NaN,NaN,Yes,NaN,NaN,2018.0,NaN
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,NaN,"26 countries, stretching from the Red Sea in t...",NaN,NaN,ZH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,The reporting period for national accounts dat...,South Asia,Low income,AF,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",NaN,NaN,NaN,2018.0,NaN
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,NaN,"22 countries, stretching from the westernmost ...",NaN,NaN,ZI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,The World Bank systematically assesses the app...,Sub-Saharan Africa,Lower middle income,AO,...,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2018.0,NaN

In [5]:
print(wdi_country_df.columns)

Index(['Country Code', 'Short Name', 'Table Name', 'Long Name', '2-alpha code',
       'Currency Unit', 'Special Notes', 'Region', 'Income Group', 'WB-2 code',
       'National accounts base year', 'National accounts reference year',
       'SNA price valuation', 'Lending category', 'Other groups',
       'System of National Accounts', 'Alternative conversion factor',
       'PPP survey year', 'Balance of Payments Manual in use',
       'External debt Reporting status', 'System of trade',
       'Government Accounting concept', 'IMF data dissemination standard',
       'Latest population census', 'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data', 'Unnamed: 30'],
      dtype='object')

### Metadata

#### Colunas:

- **Country Code** =   **Código do País**
- **Short Name** =   **Nome Curto**
- **Table Name** =   **Nome da Tabela**
- **Long Name** =   **Nome Completo**
- **2-alpha code** =   **Código 2-alpha**
- **Currency Unit** =   **Unidade Monetária**
- **Special Notes** =   **Notas Especiais**
- **Region** =   **Região**
- **Income Group** =   **Grupo de Renda**
- **WB-2 code** =   **Código WB-2**
- **National accounts base year** =   **Ano Base das Contas Nacionais**
- **National accounts reference year** =   **Ano de Referência das Contas Nacionais**
- **SNA price valuation** =   **Avaliação de Preços pelo SNA**
- **Lending category** =   **Categoria de Empréstimo**
- **Other groups** =   **Outros Grupos**
- **System of National Accounts** =   **Sistema de Contas Nacionais**
- **Alternative conversion factor** =   **Fator de Conversão Alternativo**
- **PPP survey year** =   **Ano da Pesquisa PPC**
- **Balance of Payments Manual in use** =   **Manual de Balanço de Pagamentos em Uso**
- **External debt Reporting status** =   **Status de Relato de Dívida Externa**
- **System of trade** =   **Sistema de Comércio**
- **Government Accounting concept** =   **Conceito de Contabilidade Governamental**
- **IMF data dissemination standard** =   **Padrão de Disseminação de Dados do FMI**
- **Latest population census** =   **Último Censo Populacional**
- **Latest household survey** =   **Última Pesquisa Domiciliar**
- **Source of most recent Income and expenditure data** =   **Fonte dos Dados mais Recentes de Renda e Despesa**
- **Vital registration complete** =   **Registro Vital Completo**
- **Latest agricultural census** =   **Último Censo Agrícola**
- **Latest industrial data** =   **Dados Industriais mais Recentes**
- **Latest trade data** =   **Dados Comerciais mais Recentes**


Essa base nor fornece informações sobre o grupo de populações e os grupos de países. Essas informações serão úteis na agregação dos indicadores dentro desses grupos.

Última coluna não possui dados, e vamos desconsiderar.
### Retirando última coluna

In [6]:
wdi_country_df = wdi_country_df.drop("Unnamed: 30", axis = 1)

- WDIData

- Coluna "Vital registration complete" deve-se substituir os dados de NaN para No (Será que see Nan significa não mesmo, ou é só sem informações?)

Index(['Country Code', 'Short Name', 'Table Name', 'Long Name', '2-alpha code',
       'Currency Unit', 'Special Notes', 'Region', 'Income Group', 'WB-2 code',
       'National accounts base year', 'National accounts reference year',
       'SNA price valuation', 'Lending category', 'Other groups',
       'System of National Accounts', 'Alternative conversion factor',
       'PPP survey year', 'Balance of Payments Manual in use',
       'External debt Reporting status', 'System of trade',
       'Government Accounting concept', 'IMF data dissemination standard',
       'Latest population census', 'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data', 'Unnamed: 30'],
      dtype='object')

In [39]:

wdi_data_df = wdi_data_df.drop("Unnamed: 67", axis = 1)

### Tratando "Coluna Vital registration complete"

In [22]:
wdi_country_df.loc[wdi_country_df["Vital registration complete"] == "Yes"].head(1)

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,NaN,Latin America & Caribbean,High income,AW,...,General trade system,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),NaN,NaN,Yes,NaN,NaN,2018.0

In [40]:
wdi_country_df["Vital registration complete"].value_counts()

Vital registration complete
Yes                                                 119
Yes. Vital registration for Guernsey and Jersey.      1
Name: count, dtype: int64

#### Transformar todos os valores que contenham Yes para somente Yes

In [41]:
filter = wdi_country_df["Vital registration complete"].str.contains("Yes", na=False)

wdi_country_df.loc[filter, "Vital registration complete"] = "Yes"

In [42]:
wdi_country_df["Vital registration complete"].value_counts()

Vital registration complete
Yes    120
Name: count, dtype: int64

#### Transformar valores Yes em True

In [43]:
wdi_country_df.loc[wdi_country_df["Vital registration complete"] == "Yes", "Vital registration complete"] = True

In [44]:
wdi_country_df["Vital registration complete"].value_counts()

Vital registration complete
True    120
Name: count, dtype: int64

#### Transformar valores NaN em False

In [45]:
wdi_country_df["Vital registration complete"].fillna(False, inplace=True)

In [46]:
wdi_country_df["Vital registration complete"].value_counts()

Vital registration complete
False    145
True     120
Name: count, dtype: int64

### Tratando Coluna "Income Group"

In [50]:
wdi_country_df["Income Group"].unique()

array(['High income', nan, 'Low income', 'Lower middle income',
       'Upper middle income'], dtype=object)

In [51]:
wdi_country_df["Income Group"].value_counts()

Income Group
High income            82
Lower middle income    54
Upper middle income    54
Low income             26
Name: count, dtype: int64

In [52]:
filter = wdi_country_df["Income Group"].isna() 
wdi_country_df[filter].head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,NaN,"26 countries, stretching from the Red Sea in t...",NaN,NaN,ZH,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,NaN,"22 countries, stretching from the westernmost ...",NaN,NaN,ZI,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN
7,ARB,Arab World,Arab World,Arab World,1A,NaN,Arab World aggregate. Arab World is composed o...,NaN,NaN,1A,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN
36,CEB,Central Europe and the Baltics,Central Europe and the Baltics,Central Europe and the Baltics,B8,NaN,Central Europe and the Baltics aggregate.,NaN,NaN,B8,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN
49,CSS,Caribbean small states,Caribbean small states,Caribbean small states,S3,NaN,NaN,NaN,NaN,S3,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN

#### Removendo Linhas com Income Group == NaN
#### Essas linhas tratam-se de grupos de países

In [53]:
filter = wdi_country_df["Income Group"].isna() == False
wdi_country_df = wdi_country_df.loc[filter]

In [54]:
filter = wdi_country_df["Income Group"].isna() 
wdi_country_df[filter].head(1)

Empty DataFrame
Columns: [Country Code, Short Name, Table Name, Long Name, 2-alpha code, Currency Unit, Special Notes, Region, Income Group, WB-2 code, National accounts base year, National accounts reference year, SNA price valuation, Lending category, Other groups, System of National Accounts, Alternative conversion factor, PPP survey year, Balance of Payments Manual in use, External debt Reporting status, System of trade, Government Accounting concept, IMF data dissemination standard, Latest population census, Latest household survey, Source of most recent Income and expenditure data, Vital registration complete, Latest agricultural census, Latest industrial data, Latest trade data]
Index: []

[0 rows x 30 columns]

### Tratando Coluna "Latest population census"

In [55]:
wdi_country_df["Latest population census"].unique()

array(['2020 (expected)', '1979', '2014',
       '2011. Population figures compiled from administrative registers.',
       '2011', '2016', '2019', '2008',
       '2011. Population figures compiled from administrative registers in combination with other sources of data, such as sample surveys.',
       '2013',
       '2020 (expected). Population figures compiled from administrative registers.',
       '2012', '2017', '2003',
       '2020 (expected). Population figures compiled from administrative registers in combination with other sources of data, such as sample surveys.',
       'Guernsey: 2015; Jersey: 2011.', nan, '2018',
       '2011. Population figures compiled from administrative registers and sample surveys while data on housing characteristics are collected through full field enumeration.',
       '2012. Population figures compiled from administrative registers in combination with other sources of data, such as sample surveys.',
       '2009', '2015',
       '2016. The population by-censuses for 1986 and 1996 were based on one-in-seven sample of the population, while that for 2006 was based on one-in-ten sample of the population.',
       '1997', '1943', '2006',
       '2016. Population figures compiled from administrative registers.',
       '2020', '2007',
       '1987. Enumeration of settled population was in November 1986 and of nomads in February 1987.',
       '2018. Population figures compiled from administrative registers.',
       '2004', '1989'], dtype=object)

In [56]:
wdi_country_df["Latest population census"].value_counts()

Latest population census
2020 (expected)                                                                                                                                                                  62
2011                                                                                                                                                                             32
2012                                                                                                                                                                             16
2017                                                                                                                                                                             11
2016                                                                                                                                                                             10
2014                                                                                                                                                                              9
2019                                                                                                                                                                              8
2011. Population figures compiled from administrative registers in combination with other sources of data, such as sample surveys.                                                8
2015                                                                                                                                                                              7
2013                                                                                                                                                                              7
2018                                                                                                                                                                              5
2011. Population figures compiled from administrative registers.                                                                                                                  5
2020 (expected). Population figures compiled from administrative registers.                                                                                                       4
2020 (expected). Population figures compiled from administrative registers in combination with other sources of data, such as sample surveys.                                     4
2009                                                                                                                                                                              3
2003                                                                                                                                                                              2
2004                                                                                                                                                                              2
2012. Population figures compiled from administrative registers in combination with other sources of data, such as sample surveys.                                                2
2008                                                                                                                                                                              2
2020                                                                                                                                                                              2
2016. Population figures compiled from administrative registers.                                                                                                                  1
2018. Population figures compiled from administrative registers.                                                                                                                  1
1987. Enumeration of settled population was in November 1986 and of nomads in February 1987.                                                                                      1
2007                                                                                                                                                                              1
2016. The population by-censuses for 1986 and 1996 were based on one-in-seven sample of the population, while that for 2006 was based on one-in-ten sample of the population.     1
2006                                                                                                                                                                              1
1943                                                                                                                                                                              1
1997                                                                                                                                                                              1
2011. Population figures compiled from administrative registers and sample surveys while data on housing characteristics are collected through full field enumeration.            1
1979                                                                                                                                                                              1
Guernsey: 2015; Jersey: 2011.                                                                                                                                                     1
1989                                                                                                                                                                              1
Name: count, dtype: int64

In [57]:
wdi_country_df["Latest population census"].str[:4].unique()

array(['2020', '1979', '2014', '2011', '2016', '2019', '2008', '2013',
       '2012', '2017', '2003', 'Guer', nan, '2018', '2009', '2015',
       '1997', '1943', '2006', '2007', '1987', '2004', '1989'],
      dtype=object)

In [59]:
filter = wdi_country_df["Latest population census"] == "Guernsey: 2015; Jersey: 2011."
new_line = wdi_country_df[filter].copy()
# wdi_country_df.append(new_line)
new_line
# wdi_country_df[filter]

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data
38,CHI,Channel Islands,Channel Islands,Channel Islands,NaN,Pound sterling,NaN,Europe & Central Asia,High income,JG,...,NaN,NaN,NaN,Guernsey: 2015; Jersey: 2011.,NaN,NaN,True,NaN,NaN,NaN

In [12]:
wdi_country_df.columns

Index(['Country Code', 'Short Name', 'Table Name', 'Long Name', '2-alpha code',
       'Currency Unit', 'Special Notes', 'Region', 'Income Group', 'WB-2 code',
       'National accounts base year', 'National accounts reference year',
       'SNA price valuation', 'Lending category', 'Other groups',
       'System of National Accounts', 'Alternative conversion factor',
       'PPP survey year', 'Balance of Payments Manual in use',
       'External debt Reporting status', 'System of trade',
       'Government Accounting concept', 'IMF data dissemination standard',
       'Latest population census', 'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data', 'Unnamed: 30'],
      dtype='object')

# Analise dos dados Dos indicadores

Quais indicadores tem historico mais longo dos dados

In [10]:
wdi_data_df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
0,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.392349,17.892005,18.359993,18.795151,19.295176,19.788156,20.279599,20.773627,NaN,NaN
1,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.720331,7.015917,7.281390,7.513673,7.809566,8.075889,8.366010,8.684137,NaN,NaN
2,Africa Eastern and Southern,AFE,Access to clean fuels and technologies for coo...,EG.CFT.ACCS.UR.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,38.184152,38.543180,38.801719,39.039014,39.323186,39.643848,39.894830,40.213891,NaN,NaN
3,Africa Eastern and Southern,AFE,Access to electricity (% of population),EG.ELC.ACCS.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,31.859257,33.903515,38.851444,40.197332,43.028332,44.389773,46.268621,48.103609,NaN,NaN
4,Africa Eastern and Southern,AFE,"Access to electricity, rural (% of rural popul...",EG.ELC.ACCS.RU.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,17.623956,16.516633,24.594474,25.389297,27.041743,29.138285,30.998687,32.772690,NaN,NaN

In [11]:
wdi_data_df['Indicator Name'].unique()

array(['Access to clean fuels and technologies for cooking (% of population)',
       'Access to clean fuels and technologies for cooking, rural (% of rural population)',
       'Access to clean fuels and technologies for cooking, urban (% of urban population)',
       ...,
       'Women who were first married by age 18 (% of women ages 20-24)',
       "Women's share of population ages 15+ living with HIV (%)",
       'Young people (ages 15-24) newly infected with HIV'], dtype=object)