In [577]:
import pandas as pd

In [578]:
#wdi_country_series_df = pd.read_csv(f'{folder_path}/WDICountry-Series.csv', sep=',')
#wdi_data_df = pd.read_csv(f'{folder_path}/WDIData.csv', sep=',')
#wdi_foot_note_df = pd.read_csv(f'{folder_path}/WDIFootNote.csv', sep=',')
#wdi_series_time_df = pd.read_csv(f'{folder_path}/WDISeries-Time.csv', sep=',')
#wdi_series_df = pd.read_csv(f'{folder_path}/WDISeries.csv', sep=',')

In [579]:
folder_path = './csv'
wdi_country_df = pd.read_csv(f'{folder_path}/WDICountry.csv', sep=',')

### Base de Dados - World Development Indicators (WDI)

#### Análise dos dados brutos a serem transformados
- Última coluna não possui dados (retirar)
- Coluna "Vital registration complete" deve-se substituir os dados de NaN para No

### Metadata

#### Colunas:

- **Country Code** =   **Código do País**
- **Short Name** =   **Nome Curto**
- **Table Name** =   **Nome da Tabela**
- **Long Name** =   **Nome Completo**
- **2-alpha code** =   **Código 2-alpha**
- **Currency Unit** =   **Unidade Monetária**
- **Special Notes** =   **Notas Especiais**
- **Region** =   **Região**
- **Income Group** =   **Grupo de Renda**
- **WB-2 code** =   **Código WB-2**
- **National accounts base year** =   **Ano Base das Contas Nacionais**
- **National accounts reference year** =   **Ano de Referência das Contas Nacionais**
- **SNA price valuation** =   **Avaliação de Preços pelo SNA**
- **Lending category** =   **Categoria de Empréstimo**
- **Other groups** =   **Outros Grupos**
- **System of National Accounts** =   **Sistema de Contas Nacionais**
- **Alternative conversion factor** =   **Fator de Conversão Alternativo**
- **PPP survey year** =   **Ano da Pesquisa PPC**
- **Balance of Payments Manual in use** =   **Manual de Balanço de Pagamentos em Uso**
- **External debt Reporting status** =   **Status de Relato de Dívida Externa**
- **System of trade** =   **Sistema de Comércio**
- **Government Accounting concept** =   **Conceito de Contabilidade Governamental**
- **IMF data dissemination standard** =   **Padrão de Disseminação de Dados do FMI**
- **Latest population census** =   **Último Censo Populacional**
- **Latest household survey** =   **Última Pesquisa Domiciliar**
- **Source of most recent Income and expenditure data** =   **Fonte dos Dados mais Recentes de Renda e Despesa**
- **Vital registration complete** =   **Registro Vital Completo**
- **Latest agricultural census** =   **Último Censo Agrícola**
- **Latest industrial data** =   **Dados Industriais mais Recentes**
- **Latest trade data** =   **Dados Comerciais mais Recentes**

In [580]:
wdi_country_df.head()

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data,Unnamed: 30
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,NaN,Latin America & Caribbean,High income,AW,...,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),NaN,NaN,Yes,NaN,NaN,2018.0,NaN
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,NaN,"26 countries, stretching from the Red Sea in t...",NaN,NaN,ZH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AFG,Afghanistan,Afghanistan,Islamic State of Afghanistan,AF,Afghan afghani,The reporting period for national accounts dat...,South Asia,Low income,AF,...,Consolidated central government,Enhanced General Data Dissemination System (e-...,1979,"Demographic and Health Survey, 2015","Integrated household survey (IHS), 2016/17",NaN,NaN,NaN,2018.0,NaN
3,AFW,Africa Western and Central,Africa Western and Central,Africa Western and Central,ZI,NaN,"22 countries, stretching from the westernmost ...",NaN,NaN,ZI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AGO,Angola,Angola,People's Republic of Angola,AO,Angolan kwanza,The World Bank systematically assesses the app...,Sub-Saharan Africa,Lower middle income,AO,...,Budgetary central government,Enhanced General Data Dissemination System (e-...,2014,"Demographic and Health Survey, 2015/16","Integrated household survey (IHS), 2008/09",NaN,NaN,NaN,2018.0,NaN

In [581]:
print(wdi_country_df.columns)

Index(['Country Code', 'Short Name', 'Table Name', 'Long Name', '2-alpha code',
       'Currency Unit', 'Special Notes', 'Region', 'Income Group', 'WB-2 code',
       'National accounts base year', 'National accounts reference year',
       'SNA price valuation', 'Lending category', 'Other groups',
       'System of National Accounts', 'Alternative conversion factor',
       'PPP survey year', 'Balance of Payments Manual in use',
       'External debt Reporting status', 'System of trade',
       'Government Accounting concept', 'IMF data dissemination standard',
       'Latest population census', 'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data', 'Unnamed: 30'],
      dtype='object')

### Retirando última coluna

In [582]:
wdi_country_df = wdi_country_df.drop("Unnamed: 30", axis = 1)
wdi_country_df.columns

Index(['Country Code', 'Short Name', 'Table Name', 'Long Name', '2-alpha code',
       'Currency Unit', 'Special Notes', 'Region', 'Income Group', 'WB-2 code',
       'National accounts base year', 'National accounts reference year',
       'SNA price valuation', 'Lending category', 'Other groups',
       'System of National Accounts', 'Alternative conversion factor',
       'PPP survey year', 'Balance of Payments Manual in use',
       'External debt Reporting status', 'System of trade',
       'Government Accounting concept', 'IMF data dissemination standard',
       'Latest population census', 'Latest household survey',
       'Source of most recent Income and expenditure data',
       'Vital registration complete', 'Latest agricultural census',
       'Latest industrial data', 'Latest trade data'],
      dtype='object')

### Tratando "Coluna Vital registration complete"

In [583]:
wdi_country_df.loc[wdi_country_df["Vital registration complete"] == "Yes"].head(1)

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data
0,ABW,Aruba,Aruba,Aruba,AW,Aruban florin,NaN,Latin America & Caribbean,High income,AW,...,General trade system,NaN,Enhanced General Data Dissemination System (e-...,2020 (expected),NaN,NaN,Yes,NaN,NaN,2018.0

In [584]:
wdi_country_df["Vital registration complete"].value_counts()

Yes                                                 119
Yes. Vital registration for Guernsey and Jersey.      1
Name: Vital registration complete, dtype: int64

#### Transformar todos os valores que contenham Yes para somente Yes

In [585]:
filter = wdi_country_df["Vital registration complete"].str.contains("Yes", na=False)

wdi_country_df.loc[filter, "Vital registration complete"] = "Yes"

In [586]:
wdi_country_df["Vital registration complete"].value_counts()

Yes    120
Name: Vital registration complete, dtype: int64

#### Transformar valores Yes em True

In [587]:
wdi_country_df.loc[wdi_country_df["Vital registration complete"] == "Yes", "Vital registration complete"] = True

In [588]:
wdi_country_df["Vital registration complete"].value_counts()

True    120
Name: Vital registration complete, dtype: int64

#### Transformar valores NaN em False

In [589]:
wdi_country_df["Vital registration complete"].fillna(False, inplace=True)

In [590]:
wdi_country_df["Vital registration complete"].value_counts()

False    145
True     120
Name: Vital registration complete, dtype: int64

### Tratando Coluna "Income Group"

In [591]:
wdi_country_df["Income Group"].unique()

array(['High income', nan, 'Low income', 'Lower middle income',
       'Upper middle income'], dtype=object)

In [592]:
wdi_country_df["Income Group"].value_counts()

High income            82
Lower middle income    54
Upper middle income    54
Low income             26
Name: Income Group, dtype: int64

In [593]:
filter = wdi_country_df["Income Group"].isna() 
wdi_country_df[filter].head(1)

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data
1,AFE,Africa Eastern and Southern,Africa Eastern and Southern,Africa Eastern and Southern,ZH,NaN,"26 countries, stretching from the Red Sea in t...",NaN,NaN,ZH,...,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN

#### Removendo Linhas com Income Group == NaN
#### Essas linhas tratam-se de grupos de países

In [594]:
filter = wdi_country_df["Income Group"].isna() == False
wdi_country_df = wdi_country_df.loc[filter]

In [595]:
filter = wdi_country_df["Income Group"].isna() 
wdi_country_df[filter].head(1)

Empty DataFrame
Columns: [Country Code, Short Name, Table Name, Long Name, 2-alpha code, Currency Unit, Special Notes, Region, Income Group, WB-2 code, National accounts base year, National accounts reference year, SNA price valuation, Lending category, Other groups, System of National Accounts, Alternative conversion factor, PPP survey year, Balance of Payments Manual in use, External debt Reporting status, System of trade, Government Accounting concept, IMF data dissemination standard, Latest population census, Latest household survey, Source of most recent Income and expenditure data, Vital registration complete, Latest agricultural census, Latest industrial data, Latest trade data]
Index: []

[0 rows x 30 columns]

### Tratando Coluna "Latest population census"

In [596]:
wdi_country_df["Latest population census"].unique()

array(['2020 (expected)', '1979', '2014',
       '2011. Population figures compiled from administrative registers.',
       '2011', '2016', '2019', '2008',
       '2011. Population figures compiled from administrative registers in combination with other sources of data, such as sample surveys.',
       '2013',
       '2020 (expected). Population figures compiled from administrative registers.',
       '2012', '2017', '2003',
       '2020 (expected). Population figures compiled from administrative registers in combination with other sources of data, such as sample surveys.',
       'Guernsey: 2015; Jersey: 2011.', nan, '2018',
       '2011. Population figures compiled from administrative registers and sample surveys while data on housing characteristics are collected through full field enumeration.',
       '2012. Population figures compiled from administrative registers in combination with other sources of data, such as sample surveys.',
       '2009', '2015',
       '2016. The population by-censuses for 1986 and 1996 were based on one-in-seven sample of the population, while that for 2006 was based on one-in-ten sample of the population.',
       '1997', '1943', '2006',
       '2016. Population figures compiled from administrative registers.',
       '2020', '2007',
       '1987. Enumeration of settled population was in November 1986 and of nomads in February 1987.',
       '2018. Population figures compiled from administrative registers.',
       '2004', '1989'], dtype=object)

In [597]:
wdi_country_df["Latest population census"].value_counts()

2020 (expected)                                                                                                                                                                  62
2011                                                                                                                                                                             32
2012                                                                                                                                                                             16
2017                                                                                                                                                                             11
2016                                                                                                                                                                             10
2014                                                                                                                                                                              9
2019                                                                                                                                                                              8
2011. Population figures compiled from administrative registers in combination with other sources of data, such as sample surveys.                                                8
2015                                                                                                                                                                              7
2013                                                                                                                                                                              7
2018                                                                                                                                                                              5
2011. Population figures compiled from administrative registers.                                                                                                                  5
2020 (expected). Population figures compiled from administrative registers.                                                                                                       4
2020 (expected). Population figures compiled from administrative registers in combination with other sources of data, such as sample surveys.                                     4
2009                                                                                                                                                                              3
2003                                                                                                                                                                              2
2004                                                                                                                                                                              2
2012. Population figures compiled from administrative registers in combination with other sources of data, such as sample surveys.                                                2
2008                                                                                                                                                                              2
2020                                                                                                                                                                              2
2016. Population figures compiled from administrative registers.                                                                                                                  1
2018. Population figures compiled from administrative registers.                                                                                                                  1
1987. Enumeration of settled population was in November 1986 and of nomads in February 1987.                                                                                      1
2007                                                                                                                                                                              1
2016. The population by-censuses for 1986 and 1996 were based on one-in-seven sample of the population, while that for 2006 was based on one-in-ten sample of the population.     1
2006                                                                                                                                                                              1
1943                                                                                                                                                                              1
1997                                                                                                                                                                              1
2011. Population figures compiled from administrative registers and sample surveys while data on housing characteristics are collected through full field enumeration.            1
1979                                                                                                                                                                              1
Guernsey: 2015; Jersey: 2011.                                                                                                                                                     1
1989                                                                                                                                                                              1
Name: Latest population census, dtype: int64

In [598]:
wdi_country_df["Latest population census"].str[:4].unique()

array(['2020', '1979', '2014', '2011', '2016', '2019', '2008', '2013',
       '2012', '2017', '2003', 'Guer', nan, '2018', '2009', '2015',
       '1997', '1943', '2006', '2007', '1987', '2004', '1989'],
      dtype=object)

In [607]:
Guernsey: 2015; Jersey: 2011.
filter = wdi_country_df["Latest population census"] == "Guernsey: 2015; Jersey: 2011."
new_line = wdi_country_df[filter].copy()
wdi_country_df.append(new_line)

wdi_country_df[filter]

C:\Users\Renato\AppData\Local\Temp\ipykernel_26296\2205318851.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  wdi_country_df.append(new_line)

,Country Code,Short Name,Table Name,Long Name,2-alpha code,Currency Unit,Special Notes,Region,Income Group,WB-2 code,...,System of trade,Government Accounting concept,IMF data dissemination standard,Latest population census,Latest household survey,Source of most recent Income and expenditure data,Vital registration complete,Latest agricultural census,Latest industrial data,Latest trade data
38,CHI,Channel Islands,Channel Islands,Channel Islands,NaN,Pound sterling,NaN,Europe & Central Asia,High income,JG,...,NaN,NaN,NaN,Guernsey: 2015; Jersey: 2011.,NaN,NaN,True,NaN,NaN,NaN